{% set

	item = [
		{
			title: 'Leather bag',
			img: 'product-1',
			price: 78,
			category: 'bag'
		},
		{
			title: 'Gift box colors',
			img: 'product-2',
			price: 80,
			category: 'Gift'
		},
		{
			title: 'Flyknit lunar 3',
			img: 'product-3',
			price: 50,
			category: 'Running shoes'
		},
		{
			title: 'Wallets leather',
			img: 'product-4',
			price: 100,
			category: 'Accessories'
		},
		{
			title: 'Shoes men',
			img: 'product-5',
			price: 300,
			category: 'Running shoes'
		}
	]

%}

