{% block header %}
<section class="header">	
	<div class="header__logo">
		<a href="#"><img src="img/logo.png" alt="Logotype"></a>
	</div>

	<ul class="header__nav">
		<li><a href="#">Home</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Lookbook</a></li>
		<li><a href="#">Collection</a></li>
	</ul>

	<div class="header__bag">
		<p>Bag <span class="price">3</span></p>
	</div>

	<div class="header__form">
		<a href="#" class="header__form-login">Login</a>
		<span class="header__form-line"></span>
		<a href="#" class="header__form-sign">Sign up</a>
	</div>
	<button class="btn-mobile">Menu</button>
</section><!-- End Header -->
{% endblock %}